*{
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: auto;
    width: 100%;
}
body{
    margin: 0;
    background: #FBFBFD;
    font-family: 'Roboto', sans-serif;
}
/* ********** Header ********* */
header{
    background-color: rgba(0, 0, 0, 0.8);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    width: 80%;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header a{
    color: white;
    text-decoration: none;
}

.buttonSearch{
    width: 10%;
    display: flex;
    justify-content: space-around;
}

/* ********** Section 1 ********* */

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.section-1 h1 {
    font-size: 56px;
    font-weight: 700;
    color: #1D1D1F;
    margin: 0;
}
.section-1 h2{
    font-size: 28px;
    font-weight: 400;
    color: #1D1D1F;
    margin: 0;
}
.section-1 .anchor{
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.section-1 a{
    color: #0066CC;
    text-decoration: none;
}
.section-1 img{
    width: 665px;
    height: 499px;
}

/* ********** Section 2 ********* */

#section-2{
    background-color: black;
}
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background-image: url(/images/figuresection2.png);
    background-repeat: no-repeat;
    width: 870px;
    height: 692px;
}
.section-2 h1 {
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
.section-2 h2{
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}
.section-2 .anchor{
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.section-2 a{
    color: #0066CC;
    text-decoration: none;
}

/* ********** Section 3 ********* */
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}
.section-3 h2{
    font-size: 28px;
    font-weight: 400;
    color:#1D1D1F;
    margin: 15px 0 0 0;
}
.section-3 .anchor{
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.section-3 a{
    color: #0066CC;
    text-decoration: none;
}
/* ********** Section 4 ********* */
.section-4{
    display: flex;
    justify-content: space-around;
}
.section4left {
    width: 49%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-image: url(/images/figuresection4left.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 49.5%;
    height: 580px;
}
.section-4 h2{
    font-size: 28px;
    font-weight: 200;
    color:#ffffff;
    margin: 15px 0 0 0;
}
.section-4 .anchor{
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.section-4 a{
    color: #0066CC;
    text-decoration: none;
}
.section4right {
    width: 49%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-image: url(/images/figuresection4right.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 49.5%;
    height: 580px;
}
.section4right h1 {
    margin: 0%;
    color: #FBFBFD;
    font-size: 40px;
    font-weight: 700;
}
.section4right h2{
    margin: 10px 0 0 0;
    font-weight: 200;
}

/* ********** Section 5 ********* */

.section-5{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.section-5 h2{
    width: 350px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0 5px 0;
}
.section5left {
    width: 49%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/figuresection5left2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 49.5%;
    height: 580px;
}
.section5right {
    width: 49%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/figuresection5right2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    width: 49.5%;
    height: 580px;
    position: relative;
}
.section-5 .anchor{
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.section-5 a{
    color: #0066CC;
    text-decoration: none;
}
.section5right p{
    position: absolute;
    bottom: 1px;
    font-size: 17px;
    color: #86868B;
}
/* ********** Section 6 ********* */
.section-6{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.section-6 h2{
    width: 350px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0 5px 0;
}
.section6left {
    width: 49%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/figuresection6left2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 49.5%;
    height: 580px;
}
.section6right {
    width: 49%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/figuresection6right2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    width: 49.5%;
    height: 580px;
    position: relative;
}
.section-6 .anchor{
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.section-6 a{
    color: #0066CC;
    text-decoration: none;
}

/* ********** Footer ********* */
footer{
    background-color: #F5F5F7;
}
footer p {
    color: #6E6E73;
    font-size: 12px;
}
.middle {
    display: flex;
    justify-content: space-between;
}
.middle h3{
    font-size: 12px;
    color: #1D1D1F;
}
.middle ul{
    list-style: none;
    padding: 0%;
}
.middle a{
    text-decoration: none;
    color: #424245;
    font-size: 12px;
}
.middle p a{
    color: #0066CC;
    text-decoration: none;
}